<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AI WOLRD</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='clientchoice.css') }}">

</head>
<body>
	<div class="wrapper">

		<button style="color: red; font-size: 15px;"><h1><a href="{{url_for('logout')}}"> LOGOUT </a></h1></button>

			<div class="center">
			<h2>WELCOME MY HUMBLED CLIENT {{username}}</h2>
			
			<div class="buttons">
			<button> <a href="{{url_for('sentiment_analysis')}}"> COMMENT PRODUCT </a> </button>
			<button class="btn2"><a href="{{url_for('chatbot')}}"> ASK QUESTIONS </a></button>
		</div>
		</div>
</body>
</html>